<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.FoosballXamarin" android:versionName="1.11" android:installLocation="auto" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Fozzie"></application>
</manifest>